/* Custom Style Sheet */

/* General */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-family: "Lobster", cursive;
  font-weight: bolder;
  color: #36454f;
}
h2 {
  font-family: "Lobster", cursive;
  font-weight: bolder;
  color: #ee4266;
}
h5 {
  color: #36454f;
}
p {
  font-size: 18px;
  color: #36454f;
}
a:link {
  color: #292b2c;
}
a:visited {
  color: #292b2c;
}
a:hover {
  color: #ee4266;
  text-decoration: none;
}
.section-title::before {
  display: block;
  content: " ";
  margin-top: -230px;
  height: 300px;
  visibility: hidden;
  pointer-events: none;
}
.download-cv {
  font-size: 20px;
  padding: 10px 15px;
}
#cv li {
  font-size: 18px;
}

/* My colours */
.my-steel {
  color: #bfcde0;
}
.my-red {
  color: #ee4266;
}
.bg-red {
  background-color: #ee4266;
}
.my-blue {
  color: #4059ad;
}
.bg-blue {
  background-color: #4059ad;
}
.my-charcoal {
  color: #36454f;
}

/* Icons */
#chevron a:link {
  color: white;
}
#chevron a:visited {
  color: white;
}
#chevron a:hover {
  color: #4059ad;
}

/* Nav styling */
.nav-item {
  font-size: 18px;
}
.nav-link:link {
  color: #292b2c;
}
.nav-link:visited {
  color: #292b2c;
}
.nav-link:hover {
  color: #ee4266;
}

/* Carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}
.carousel-caption p {
  font-size: 16px;
}

/* Coding pages */
.coding-list {
  font-size: 18px;
}
code {
  color: #ee4266;
}

/* Footer */
footer h1,
footer p,
footer ul,
footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #4059ad;
}
footer p {
  font-size: inherit;
}

.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list li {
  padding-left: 1.5rem;
  padding: 5px 0;
}
.github-list::before {
  content: "\f09b";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
.linkedin-list::before {
  content: "\f0e1";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
.email-list::before {
  content: "\f0e0";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
.copyright-list::before {
  content: "\f1f9";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
.location-list::before {
  content: "\f3c5";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
.ellipsis-list::before {
  content: "\f141";
  font-family: "FontAwesome";
  display: inline-block;
  width: 1.5rem;
}
